<!DOCTYPE HTML>
<html> 
    <head>
        <title>Device page</title>
        <style>
            h1{
                text-align: left;
            }
        </style>
    </head>
    <body style = "background-color : lightskyblue">
        <h1 >Sensor name: <%=name%> </h1>
        <h1 >Value: <%=value%></h1>
        <h1 >Unit: <%=unit%></h1>
        <form action="/" method="get">
            <input type="submit" value="Home">
        </form>
    </body>
</html>